@charset "utf-8";
@import url(reset.css);
@import url(common.css);

#wrap {
    overflow: hidden;
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--sec-space-pc) 0;
}

header .btnMobile {
    display: none;
}

/* mainVisual */
#mainVisual .inner {
    height: 420px;
    padding: 0 40px;
    background-image: url(../img/main/main_woman.png), url(../img/main/main_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom, center;
    background-size: auto 360px, cover;
    display: var(--flex);
    justify-content: var(--just-sb);
    align-items: var(--align-center);
    border-radius: 25px;
}
/* #mainVisual video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
} */

#mainVisual .mainTitle h1 {
    font-family: var(--gmarket);
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 35px;
}

#mainVisual .mainTitle h1 span {
    display: block;
    opacity: 0.8;
    font-size: 20px;
}

#mainVisual .mainTitle .mainText p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
}

.mainTitle .btn {
    color: white;
    background: var(--color-text-main);
}

/* loginArea */
.loginArea {
    width: 280px;
    height: 230px;
    padding: 20px;
    background: #f0f3fa;
    border-radius: 20px;
}

.loginArea h2 {
    font-family: var(--gmarket);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    color: #000
}

.loginArea label {
    display: block;
    height: 36px;
    margin-bottom: 10px;
    background: #fff;
    padding-left: 5px;
    line-height: 36px;
}

.loginArea input::placeholder {
    font-size: 12px;
    color: #777
}

.loginArea .btnArea {
    display: var(--flex);
    justify-content: var(--just-sb);
    margin-top: 15px;
}

.loginArea .btnArea button {
    padding: 0;
    width: 115px;
    height: 38px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
}

/* 공지사항 */
#sec-notice .inner {
    padding-top: 80px;
}
.notice-group .notice-area {
    position: relative;
}
.notice-group .notice-area .btn-notice-more {
    position: absolute;
    top: 0; right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.notice-group .notice-area .btn-notice-more i {
    font-size: 30px;
}
.notice-area .notice-banner {
    padding-bottom: 30px;
}
.notice-group .notice-list {
    position: relative;
}

.notice-group h3 {
    font-size: 28px;
    margin-bottom: 25px;
}
.notice-group .notice-list li>a {
    display: block;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
}

.notice-group .notice-list li>a:hover {
    color: #000
}

.notice-group .notice-list li .list-text {
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    word-break: keep-all;
}

.notice-group .notice-list .ico-new {
    position: absolute;
    top: 10px;
    right: 10px;
}
/* 특징영역 */
#sec-features {
    background: var(--color-bg);
}

#sec-features h2 {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
}

#sec-features .mainText {
    font-size: var(--fz-title-md);
    text-align: center;
    margin-bottom: 60px;
}

.feature-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}

.feature-list li {
    width: 260px;
    height: 240px;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.feature-list li * {
    display: block;
    text-align: center;
}

.feature-list .big {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.feature-list .big strong {
    color: var(--color-primary);
}

.feature-list .big span {
    color: #000;
}

.feature-list .text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.feature-list em {
    padding: 10px;
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    margin-top: 30px;
}

.feature-list li:first-child em {
    margin-top: 0
}

.info-pick {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 40px 60px;
    background: url(../img/main/img_feautures.png) no-repeat center/contain;
    border-radius: 20px;
}

.info-pick::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #5157a8;
}

.info-pick p {
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    background: url(../img/common/ico_check.png) no-repeat left center;
    padding-left: 30px;
}

/* 모의테스트 응시고객 */
#partners h2 {
    text-align: center;
    margin-bottom: 50px;
}

#partners h2 span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: #484ea3
}

#partners .logos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 20px;
}

#partners .logos.college_logo img {
    width: 100px
}

#partners .company_logo li {
    border-radius: 15px;
    border: 1px solid #cdcdcd;
    text-align: center;
}

#partners .company_logo li img {
    width: 60%;
}

#partners .titleArea {
    width: 85%;
    margin: 50px auto;
    background: #484ea3;
    padding: 40px;
    color: #fff;
    font-size: var(--fz-title-md);
    text-align: center;
    line-height: 1.6;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* 문제 풀 */
#sec-stats {
    background: var(--color-bg);
}

#sec-stats h2 {
    text-align: center;
    margin-bottom: 60px;
}

.stats-list {
    margin-bottom: 80px;
}

.stats-list div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.stats-list dt {
    font-size: 20px;
    color: #fff;
    clip-path: polygon(0 0,
            /* 왼쪽 위 */
            95% 0,
            /* 오른쪽 위에서 조금 안쪽 */
            100% 20%,
            /* 잘린 사선 부분 */
            100% 100%,
            /* 오른쪽 아래 */
            0 100%
            /* 왼쪽 아래 */
        );
    background: linear-gradient(45deg, #5157a8, #292d63);
    width: 220px;
    height: 60px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-list dd {
    width: 75%;
    height: 60px;
    line-height: 60px;
    color: #000;
    border-bottom: 1px solid rgba(81, 87, 168, 0.45);
    padding-left: 30px;
}

.stats-list dd span {
    display: block;
    color: #484ea3;
    font-size: 18px;
}

.stats-chart {
    width: 80%;
    margin: 0 auto 50px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}

.stats-chart strong {
    display: inline-block;
    background: #292d63;
    padding: 15px 20px;
    border-radius: 40px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;
}

.stats-chart ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.stats-chart ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats-chart ul>li>span {
    width: 220px;
    padding: 10px 0;
    border-radius: 5px;
    background: #f0f0f0;
    border: 1px solid #585c91;
    margin-bottom: 30px;
    font-weight: 500;
    color: #585c91
}

.stats-chart ul>li .info {
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.stats-chart ul>li .info p span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #323c95;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 5px;
}

.stats-chart ul>li .info.toeic .data2 span {
    background: #83abdb;
}

.stats-chart ul>li .info.opic span {
    background: #593d90
}

.stats-chart ul>li .info.opic .data2 span {
    background: #c7abd1
}

#sec-stats .info-pick {
    background-image: url(../img/main/img_pool.png);
}

#sec-stats .info-pick p {
    background: none;
}

#sec-stats .info-pick::before {
    top: -5px
}

/* 특장점 */
#sec-points .inner {
    position: relative;
}

#sec-points .inner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
}

#sec-points .points-list {
    height: 540px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    background: url(../img/main/chart-2.png) no-repeat center;
    background-size: contain;
    font-size: 18px;
}

#sec-points .points-list li {
    height: 230px;
    padding: 25px 0;
    width: 70%;
}

#sec-points .points-list li:nth-child(odd) {
    padding-left: 0;
}

#sec-points .points-list li:nth-child(even) {
    text-align: right;
    padding-right: 0;
}

.points-list .points {
    color: #484ea3;
    font-weight: 500;
    margin-bottom: 10px;
}

#sec-points .points-list .text {
    color: #000;
    font-size: 17px;
}

#sec-points .points-list .text span {
    color: #292d63
}

/* 무의사항 */
#sec-inquiry {
    background: linear-gradient(135deg,
            #5157a8 0%,
            #5157a8 55%,
            #5e63b0 55%,
            #5e63b0 100%);
}

#sec-inquiry .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-inquiry h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.download {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

.download a {
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.25s ease;
}

.download a:hover {
    border-color: #d8d8d8;
}

.download a:nth-child(1) {
    background: #292d63;
}

.download a:nth-child(2) {
    background: #1e2155;
}

.download a:nth-child(3) {
    background: #28293f;
}
.inquiry-form {margin-bottom: 30px;}
.inquiry-form li {
    padding: 10px;
}

.inquiry-form li label {
    font-size: 17px;
    color: #fff;
    display: inline-block;
    width: 120px;
    vertical-align: top;
}

.inquiry-form li input,
.inquiry-form li textarea {
    border-radius: 4px;
    width: 500px;
    height: 40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px) brightness(1.15);
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    outline: none;
}
.inquiry-form li textarea {
    height: 200px;
    resize: none;
}
.inquiry-form li input:focus,
.inquiry-form li textarea:focus {
    background: rgba(255, 255, 255, 0.6);
}
#sec-inquiry .btn {
    width: 280px;
    background: #000;
    color: #fff;
}