@charset "Utf-8";
@import url(m/m-common.css);

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

/* ============== Main ========================================================= */
#mainVisual.main {
    margin-bottom: 25px;
}

#mainVisual {
    height: auto;
    
}

section .inner {
    padding: 40px 0;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* notice */
.notice-group .notice-list li>a {
    padding: 40px;
}

/* feature area */
#sec-features h2 {
    font-size: 24px;
}
#sec-features h2 span {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 26px;
}

#sec-features .mainText {
    text-align: center;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, .6);
    font-size: 22px;
}
.feature-list li {
    padding: 20px;
}
.feature-list .big strong {
    font-size: 17px;    
}
.feature-list .big strong > span {
    display: block;
    color: var(--color-primary)
}

.info-pick {
    width: 100%;
    padding: 30px;
    background: url(../img/main/img_feautures.png) no-repeat center/100% auto;
    border-radius: 15px;
}

#partners .inner {
    padding-block: 80px;
}

#sec-points .points-list {
    height: auto;
    font-size: 17px;
}

#sec-points .points-list li:nth-child(odd) {
    padding-left: 0;
}

#sec-points .points-list li:nth-child(even) {
    text-align: right;
    padding-right: 0;
}

.points-list .points {
    color: #484ea3;
    font-weight: 500;
    margin-bottom: 10px;
}

#sec-points .points-list .text {
    color: #000;
    font-size: 16px;
}
#sec-points .points-list .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
#sec-points .points-list .text span {
    color: #292d63
}
/* ============== Hspt ========================================================= */
#sec-custom h2 {
    font-size: 28px;
}
#sec-custom .mainText {
    font-size: 18px;
    word-break: keep-all;
    font-weight: 400;
}
#sec-overview li {
    padding: 20px;
}

#sec-overview li .text {
    font-size: 16px;
    font-weight: 400;
}

.test-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.test-group li {
    width: 100%;
}

/* ============== Toeic ========================================================= */
#sec-toeic-test dl {
    margin-bottom: 0;
}

#sec-toeic-test dl div {
    gap: 0;
    height: auto;
    padding: 15px 0;
    margin-bottom: 0;
}

#sec-toeic-test dt {
    height: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec-toeic-test dd {
    height: 100%;
    word-break: keep-all;
}

/* ============== Topik ========================================================= */
#mainVisual .mainTitle h1 {
    font-size: 34px;
}

#mainVisual .mainTitle p {
    font-size: 18px;
    word-break: keep-all;
    text-align: left;
}

.tab-contents .title-area .sub-title {
    margin-bottom: 50px;
}

#sec-topik-overview .inner {
    padding-bottom: 0;
}