@charset "utf-8";
@import url(../reset.css);
@import url(../common.css);

/* mainVisual */
#mainVisual .inner {
    overflow: hidden;
    height: 200px;
    position: relative;
    padding: 0 40px;
    background: url(../../img/my/img_joinus.png) no-repeat center/cover;
    display: var(--flex);
    justify-content: center;
    align-items: var(--align-center);
    border-radius: 25px;
     margin-bottom: clamp(32px, 6vw, 60px);
}

#mainVisual .mainTitle h1 {
    font-family: initial;
    font-size: var(--fz-title-xl);
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

#container h2 {
    position: relative;
    padding-left: 20px;
}

#container h2::before {
    position: absolute;
    top: 46%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 26px;
    border-radius: 10px;
    background: #583a8f;
    content: '';
}

.sub-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

form.inputArea .inputEmail {
    border-top: 4px solid #583a8f;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 15% 1fr;
    align-content: center;
}

form.inputArea .inputEmail>* {
    height: 50px;
    line-height: 50px;
}

form.inputArea .inputEmail label {
    display: block;
    font-weight: 600;
    text-align: center;
    background: #dfd5f2;
}

form.inputArea .inputEmail input {
    border-left: 1px solid #cdcdcd;
    padding-left: 15px;
    font-size: 18px;
}

form.inputArea .inputEmail input::placeholder {
    font-size: 14px;
}

form.inputArea .inputEmail input:focus {
    outline: 1px solid #dfd9eb;
}

/* 개인정보이용정보  */
.agree-area .terms-detail {
    overflow: auto;
    height: 400px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    margin-bottom: 20px;
}

.agree-area .terms-detail li {
    padding-left: 10px;
}
.agree-area .terms-detail .sub-title li {
    padding-left: 0;
    font-size: 16px;
}
.agree-area {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 5px;
}
.agree-area input[type="checkbox"] {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #cdcdcd;
}

.agree-area label {
    font-size: 18px;
}

.agree-area h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.agree-area dl {
    margin-bottom: 30px;
    font-size: 15px;
}

.agree-area dl div {
    margin-bottom: 15px;
}

.agree-area dl div dt {
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
}

.agree-area dl div dd {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
}

.agree-area dl div dd li+li {
    margin-top: 5px;
}

.agree-area dl div span,
.agree-area dl div strong {
    display: block;
}
.service li {
    margin-bottom: 5px;
}
.btn-area {text-align: center;}