@charset "utf-8";
@import url(m-common.css);

/* main-visual */
#mainVisual {
    width: 96%;
    margin: 70px auto 0;
}
#mainVisual .inner {
    position: relative;
    padding: 0 4%;
}
#mainVisual video {
    object-fit: cover;
    height: 100%;
    z-index: -1;
}

#mainVisual .mainTitle h1 {
    font-family: initial;
    font-size: var(--fz-title-xl);
    margin-bottom: 30px;
}
#mainVisual .mainTitle h1 span {
    display: block;
    font-size: var(--fz-title-lg);
}
#mainVisual .mainTitle p {
    font-size: var(--fz-title-md);
}
#mainVisual .mainTitle p br {
    display: none;
}

/* 말하기특징 */
#sec-overview .inner {
    padding: 40px 4%;
}
#sec-overview h2 {    
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}
#sec-overview ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 25px;
}

#sec-overview li {
    width: 100%;
    padding: 25px;
    letter-spacing: -1px;
}
#sec-overview li:nth-child(3) {
    height: 240px;    
}

/* 평가프로세스 */
#sec-process .inner {
    padding: 50px 4%;
}
#sec-process h2 {
    margin-bottom: 20px;
}
#sec-process .mainText {
    font-size: var(--fz-title-md);
    margin-bottom: 50px;
    word-break: keep-all;
}
#sec-process .mainText br {
    display: none;
}

.step-process {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.step-process li {
    padding: 25px;
    margin-bottom: 20px;
}
.step-process li:nth-child(1),
.step-process li:nth-child(4) {
    background: var(--color-primary-soft);
}
.step-process li:nth-child(3) {
    background: var(--color-surface);
}
.step-process li:nth-child(3) h3 {
    color: var(--color-primary-soft)
}
.step-process li:nth-child(3) .text {
    color: #000;
}
.step-process li:nth-child(4) h3,
.step-process li:nth-child(4) .text {
    color: #fff
}
.step-process li::before {
    top: -20px;
    width: 40px;
    height: 40px;
    color: #000;
    line-height: 40px;
    font-size: 18px;
}

.step-process li h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.step-process li .text {
    font-size: 15px;
    font-weight: 500;
    word-break: keep-all;
    color: #000
}
.step-process li .text br {display: none;}

/* 7개의 언어영역 */
#sec-lanarea {
    text-align: center;
}
#sec-lanarea .inner {
    padding: 40px 4%;
}
#sec-lanarea .mainText {
    font-size: 18px;
    margin-bottom: 40px;
}

.test-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.test-group li {
    width: auto;
    height: auto;
    border-radius: 12px;
    padding: 15px;
    justify-content: stretch;
}


/* 상단 흰색 타이틀 박스 */
.test-group li span {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: #d5d3f8;
    color: #111322
}

/* 하단 서브 텍스트 */
.test-group li .text {
    font-size: 16px;
    opacity: 0.9;
}

/* 맞춤형 평가 */
#sec-custom {
    background: #f7f7f7;
    text-align: center;
}
#sec-custom .inner {
    padding: 50px 4%;
}
#sec-custom h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
#sec-custom h2 span {
    display: block;
}
#sec-custom .mainText {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px;
    word-break: keep-all;
}
#sec-custom .mainText br {
    display: none;
}
.custom-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.custom-list li {
    padding: 10px;
    font-size: 16px;
}

.point {
    font-size: var(--fz-title-md);
    margin-bottom: 50px;
}

.tbl-list {
    width: 100%;    margin: 0 auto;
}

.tbl-list th,
.tbl-list td {
    border-bottom: 1px solid #efefef;
    padding: 12px;
    font-size: 16px;
}

.tbl-list th {
    background: #d5d3f8;
    font-weight: 600;
}

.tbl-list td {
    background: #e6e6e6;
    border-bottom: 1px solid #cdcdcd;
}

/* ============= 430px ===================== */
@media screen and (max-width: 430px) {
    section h2 {
        font-size: 25px!important;
        font-weight: 600;
        word-break: keep-all;
        letter-spacing: -1px;
    }
    section p {
        word-break: keep-all;
        letter-spacing: -1px;
    }
    #mainVisual .inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mainVisual .mainTitle {
        padding: 0;
    }
    #mainVisual .mainTitle h1 span {
        font-size: 18px;
    }
    #sec-overview ul {
        grid-template-columns: 1fr;
    }
    #sec-overview li {
        padding: 20px;
        background-clip: border-box;
        background-size: 120px auto;
        background-position: right 15px bottom 15px;
        background-repeat: no-repeat;
    }
    #sec-overview li:nth-child(1) {
    height: 280px;
    background-image: url(../../img/hspt/img_evalution01.png);
    }
    #sec-overview li:nth-child(3) {
        height: 210px;
    }
    .step-process {
        margin-bottom: 20px;
    }
    .step-process, .test-group {
        grid-template-columns: 1fr;
    }
    .custom-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ============ 390 =================== */
@media screen and (max-width: 390px) {
    
}