@charset "utf-8";
@import url(m-common.css);

/* main-visual */
#mainVisual {
    width: 96%;
    margin: 70px auto 0;
}

#mainVisual .inner {
    height: 25vh;
    position: relative;
    padding: 0 4%;
}

#mainVisual video {
    object-fit: cover;
    height: 100%;
    z-index: -1;
}

#mainVisual .mainTitle h1 {
    font-family: initial;
    font-size: var(--fz-title-xl);
    margin-bottom: 15px;
}

#mainVisual .mainTitle h1 span {
    display: block;
    font-size: var(--fz-title-lg);
}

#mainVisual .mainTitle p {
    font-size: var(--fz-title-md);
    word-break: keep-all;
    text-align: center;
}

#mainVisual .mainTitle p br {
    display: none;
}

/* olt 시험 */
#sec-olt-overview .inner {
    padding: 40px 4%;
}

#sec-olt-overview h2 {
    text-align: center;
    margin-bottom: 30px;
}

#sec-olt-overview h2 span {
    display: block;
}

#sec-olt-overview h3 {
    font-size: 30px;
    font-weight: 600;
}

#sec-olt-overview .overview {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-bottom: 50px;
}

.overview div {
    margin-bottom: 25px;
}

.overview dt {
    background: url(../../img/common/title_bg.png) no-repeat left center/contain;
    margin-bottom: 10px;
}

.overview .text {
    font-size: 16px;
}

.overview .text p+p {
    margin-top: 10px;
}

.chart-area {
    padding: 25px;
    margin-bottom: 50px;
}

.chart-area figure {
    margin-bottom: 40px;
}

.chart-area figcaption {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
}

.chart-area img {
    max-width: 75%
}

.point {
    font-size: 18px;
    margin-bottom: 30px;
}

/* 고객사 리스트 */
.chart-area .custom-list {
    width: 100%;
    gap: 10px;
}

/* olt sample */
#sec-sample .inner {
    padding: 0 4% 40px
}

#sec-sample h2 {
    text-align: center;
    margin-bottom: 25px;
}

#sec-sample h2 strong {
    color: #403c98
}

#sec-sample figure .pic-group {
    display: flex;
}

#sec-sample figure img {
    max-width: 50%;
}

.sample-text div {
    margin-bottom: 40px;
}

.sample-text dt {
    padding-left: 25px;
    font-size: 18px;
}

.sample-text dd {
    margin-left: 10px;
    line-height: 1.6;
    word-break: keep-all;
}

.role-play h3 {
    font-size: 18px;
}

.role-play .checkbox {
    margin-bottom: 40px;
}

.role-play .checkbox dd {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    word-break: keep-all;
}

.role-play .checkbox dd br {
    display: none;
}

.role-play figcaption {
    text-align: center;
    font-size: 26px;
    color: #000;
    margin-bottom: 25px;
    font-weight: 500;
}

/* ===================== 430px ======================== */
@media screen and (max-width: 430px) {
    #sec-sample h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .table-wrap .olt-base,
    .role-play .doc-sample {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border: 1px solid #eee;
    }

    .table-wrap .olt-base tr,
    .role-play .doc-sample tr {
        white-space: nowrap;
    }

    .role-play .doc-sample td:nth-child(3) {
        white-space: normal;
        /* 대사만 줄바꿈 */
        min-width: 260px;
    } 

    #sec-sample figure .pic-group {
        justify-content: space-between;
    }
}