@charset "utf-8";
@import url(m-common.css);

/* main-visual */
/* main-visual */
#mainVisual {
    width: 96%;
    margin: 70px auto 0;
}

#mainVisual .inner {
    position: relative;
    padding: 0 4% 40px;
}

#mainVisual video {
    object-fit: cover;
    height: 100%;
    z-index: -1;
}

#mainVisual .mainTitle h1 {
    font-family: initial;
    font-size: var(--fz-title-xl);
    margin-bottom: 15px;
}

#mainVisual .mainTitle h1 span {
    display: block;
    font-size: var(--fz-title-lg);
}

#mainVisual .mainTitle p {
    font-size: var(--fz-title-md);
    word-break: keep-all;
    text-align: center;
}

#mainVisual .mainTitle p br {
    display: none;
}

section h2 {
    font-family: initial;
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* opic overview */
#sec-opic-overview h2 {
    margin-bottom: 40px;
}

#sec-opic-overview h2 span {
    display: block;
}

.opic-intro {
    width: 100%;
}

.opic-intro li {
    word-break: keep-all;
}

.btn-area {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0
}

.btn-area * {
    margin-bottom: 10px;
}


/* 시험의 특징 */
#sec-opic-test .inner {
    padding: 40px 4%;
}

#sec-opic-test dl div {
    grid-template-columns: 1fr;
    gap: 0;
}

#sec-opic-test dt {
    display: block;
    font-size: 18px;
    margin-bottom: 0;
    width: 100%;
    background: #7e6997;
}

#sec-opic-test dt::after {
    display: none;
}

#sec-opic-test dd {
    background: #fff;
    padding: 20px 15px;
    border-radius: 0 0 20px 0;
    background: #fff no-repeat right 10px center/120px;
}

#sec-opic-test dl div:nth-child(1) dt {
    background:#a479cc
}
#sec-opic-test dl div:nth-child(2) dt {
    background:#75588f
}
#sec-opic-test dl div:nth-child(3) dt {
    background:#573c70
}
#sec-opic-test dl div:nth-child(2) dd {
    background-image: url(../../img/opic/img_exm02.png);
}

#sec-opic-test dl div:nth-child(3) dd {
    background-image: url(../../img/opic/img_exam03.png);
}
#sec-opic-test dl div:nth-child(1) dd {
    background-image: url(../../img/opic/img_exam01.png);
}

#sec-opic-test dl div:nth-child(2) dd {
    background-image: url(../../img/opic/img_exm02.png);
}

#sec-opic-test dl div:nth-child(3) dd {
    background-image: url(../../img/opic/img_exam03.png);
}

#sec-opic-test dl dd p {
    width: 60%;
    word-break: keep-all;
}

#sec-opic-test dl dd p+p {
    margin-top: 10px;
}

.test-refer ol li table {
    margin-top: 25px;
    text-align: center;
}

.test-refer ol li table th,
.test-refer ol li table td {
    padding: 10px;
}

.opi-info .row {
    display: grid;
    grid-template-columns: 120px 1fr;
    border-top: 1px solid #ddd;
}

.opi-info dt {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.opi-info dd {
    border-right: 1px solid #ddd;
    padding: 14px;
    background: #fff;
}

.opi-info .row:last-child {
    border-bottom: 1px solid #ddd;
}

/* 모의테스트 */
#opic-test .inner {
    padding-bottom: 0;
}
#opic-test h3 {
    font-family: initial;
}

.test-fee table {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border: none;
}

.test-fee table thead {
    display: none;
}

.test-fee,
.test-fee tbody,
.test-fee tr,
.test-fee td {
    display: block;
    width: 100%;
    padding: 0;
}

.test-fee tr {
    margin-bottom: 12px;
    background: #fff;
}
.test-fee td {
    text-align: left;
    height: 55px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.test-fee td.bg {
    background: none;
}

.test-fee td::before {
    content: attr(data-label);
    font-weight: 500;
    color: #666;
    flex: 0 0 45%;
    background: #5e6488;
    height: 55px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    border-bottom: 1px solid #cdcdcd;
}
.test-fee td {
    border-bottom: 1px solid #cdcdcd;
    margin-top: -1px;
}
.test-fee td:last-child .btn-apply {
    width: 100%;
    height: 48px;
}

.test-fee .bg button {
    padding: 8px 20px;
    background: #000;
    color: #fff;
    border-radius: 10px;
}

.test-refer {
    width: 100%;
    background: #f4f4f4;
    border-radius: 20px;
    padding: 25px;
}
.test-refer ol {
    margin-left: 15px;
}
.test-refer ol li {
    font-size: 16px;
}

.test-refer ol li strong {
    display: block;
    font-weight: 500;
    color: #5e6488
}

.test-refer ol li table {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.test-refer ol li table th,
.test-refer ol li table td {
    padding: 10px;
}
.test-refer ol li table td {
    background: #fff;
}

/* ===========================430px =========================== */
@media screen and (max-width: 430px) {
    #mainVisual .mainTitle h1 span {
        font-size: 16px;
    }
    #sec-opic-overview h2 span {
        margin-top:10px;
        font-size: 15px;
    }
    #sec-opic-test dt {
        font-size: 16px;
        font-weight: 600;
        word-break: keep-all;
        line-height: 1.5;
    }
    #sec-opic-test dl div:nth-child(1) dd, 
    #sec-opic-test dl div:nth-child(2) dd, 
    #sec-opic-test dl div:nth-child(3) dd {
        background: #fff
    }
    #sec-opic-test dl dd p {
        width: 100%;
    }
}